In [4]:
import numpy as np
import pandas as pd
import requests
import json
import tweepy
import os
import matplotlib.pyplot as plt
%matplotlib inline

ModuleNotFoundError: No module named 'tweepy'

In [2]:
pd.set_option("display.max_colwidth", 10000)

# Gathering

We will be gathering data from three (3) locations:

1. WeRateDogs twitter archive - Local file manually downloaded from Udacity resources
2. Tweet image predictions - File that we will download using the 'requests' library
3. Tweet data - Information obtained by consuming the twitter API using the 'tweepy' library

### 1. WeRateDogs twitter archive - Local file manually downloaded from Udacity resources

In [3]:
df_twitter_archive_enhanced = pd.read_csv('twitter-archive-enhanced.csv')

In [4]:
df_twitter_archive_enhanced.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None

### 2. Tweet image predictions - File that we will download using the 'requests' library

In [5]:
image_predictions_request = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')
image_predictions_request.status_code

200

In [6]:
if image_predictions_request.status_code == 200:
    open('image_predictions.tsv', 'wb').write(image_predictions_request.content)

In [7]:
df_image_predictions = pd.read_csv('image_predictions.tsv', sep='\t')

In [123]:
df_image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [8]:
df_image_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

### 3. Tweet data - Information obtained by consuming the twitter API using the 'tweepy' library

In [9]:
consumer_key = '10W6IQMnrC64VivwJJe74kH1y'
consumer_secret = 'DXzG7c66Fwla1n1RZqa1WKrK9eqKyBO8xzgrv4d401wavt1cYj'
access_token = '1257115250442240005-Cg9oBwFdKMKmLwRKoOUQqf6wNbUTxw'
access_secret = 'IjF2rZQle2TSrtS12CfrX2fGdRcMQ7mOtQRAFyY2z2erm'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth)

In [10]:
api.wait_on_rate_limit = True
api.wait_on_rate_limit_notifya = True

In [11]:
twitter_ids = df_twitter_archive_enhanced.tweet_id

#### Commenting the below line so it doesn't run every time I restart the kernel

- found the _.json and json.dump searching in stack overflow
- https://stackoverflow.com/questions/48157921/saving-tweets-to-json-file-in-python-3-6

In [12]:
# filename = 'tweet_json.txt'
# with open(filename, mode='a') as file:
#     for tweet_id in twitter_ids:
#         try:
#             tweet_data = api.get_status(tweet_id)
#             json.dump(tweet_data._json,file)
#             file.write('\n')
#             print(tweet_id)
#         except Exception as e:
#             print(e)

#### Now let's read that txt file and make into a DF

In [13]:
df_tweets = pd.DataFrame()
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame

Useful info:
    
- https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/
- https://stackabuse.com/reading-and-writing-json-to-a-file-in-python/

In [14]:
filename = 'tweet_json.txt'
with open(filename, mode='r') as file:
    lines = file.readlines()
    for line in lines:
        data = json.loads(line)
        tweet_id = data['id']
        favorite_count = data['favorite_count']
        retweet_count = data['retweet_count']
        try:
            img_uri = data['entities']['media'][0]['media_url_https']
        except:
            img_uri = ''
#             print(f'no image on tweet {id_value}')
        finally:
#             print(f'completed tweet {id_value}')
            values = {
#                 'tweet_id' : str(tweet_id),
                'tweet_id' : str(tweet_id),
                'favorite_count' : int(favorite_count),
                'retweet_count' : int(retweet_count),
                'img_uri' : img_uri
            }
            df_tweets = df_tweets.append(values, ignore_index = True)

In [15]:
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   favorite_count  2331 non-null   float64
 1   img_uri         2331 non-null   object
 2   retweet_count   2331 non-null   float64
 3   tweet_id        2331 non-null   object
dtypes: float64(2), object(2)
memory usage: 73.0+ KB

In [16]:
df_tweets.head()

,favorite_count,img_uri,retweet_count,tweet_id
0,36265.0,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,7723.0,892420643555336193
1,31271.0,,5706.0,892177421306343426
2,23541.0,,3782.0,891815181378084864
3,39561.0,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,7877.0,891689557279858688
4,37779.0,,8494.0,891327558926688256

In [17]:
# df_tweets.favorite_count = tweet_api_df.favorite_count.astype(int)
# df_tweets.retweet_count = tweet_api_df.retweet_count.astype(int)

In [18]:
# df_tweets.head()

# Assessing

Instructions: "Detect and document at least eight (8) quality issues and two (2) tidiness issues"

Key points to keep in mind when data wrangling for this project:

- You only want original ratings (no retweets) that have images. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.
- Assessing and cleaning the entire dataset completely would require a lot of time, and is not necessary to practice and demonstrate your skills in data wrangling. Therefore, the requirements of this project are only to assess and clean at least 8 quality issues and at least 2 tidiness issues in this dataset.
- Cleaning includes merging individual pieces of data according to the rules of tidy data.
- The fact that the rating numerators are greater than the denominators does not need to be cleaned. This unique rating system is a big part of the popularity of WeRateDogs.
- You do not need to gather the tweets beyond August 1st, 2017. You can, but note that you won't be able to gather the image predictions for these tweets since you don't have access to the algorithm used.

### First, let's get the info of each DataFrame and start writing down issues

In [19]:
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   favorite_count  2331 non-null   float64
 1   img_uri         2331 non-null   object
 2   retweet_count   2331 non-null   float64
 3   tweet_id        2331 non-null   object
dtypes: float64(2), object(2)
memory usage: 73.0+ KB

<div class="alert alert-block alert-warning">
<strong> df_tweets - Incorrect data types: </strong>
    <ul>
        <li> favorite count should be int </li>
        <li> retweet_count should be int </li>
        <li> tweet_id should be int </li>
    </ul>
</div>

In [20]:
df_tweets.sample(10)

,favorite_count,img_uri,retweet_count,tweet_id
1226,2987.0,https://pbs.twimg.com/media/Cd4CBQFW8AAY3ND.jpg,611.0,711008018775851008
1456,1780.0,https://pbs.twimg.com/ext_tw_video_thumb/693486485266247680/pu/img/KhapmUYPQTpbwNf8.jpg,635.0,693486665285931008
1886,1164.0,https://pbs.twimg.com/media/CVv84VDUEAEm3dW.jpg,448.0,674410619106390016
1957,1282.0,https://pbs.twimg.com/media/CVbc2V2WsAE3-kn.jpg,521.0,672968025906282496
1142,4944.0,https://pbs.twimg.com/media/Cgc9AjMVIAERdUA.jpg,1626.0,722613351520608256
2310,138.0,https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,62.0,666287406224695296
701,17193.0,https://pbs.twimg.com/media/Ct8qn75WgAAsN3m.jpg,5602.0,783391753726550016
1028,4411.0,https://pbs.twimg.com/media/Ck39W0AWUAAB0q7.jpg,1977.0,742528092657332225
2173,541.0,https://pbs.twimg.com/media/CUgb21RXIAAlff7.jpg,253.0,668815180734689280
751,0.0,https://pbs.twimg.com/media/CW88XMXW8AEf38m.jpg,13922.0,776819012571455488

<div class="alert alert-block alert-warning">
<strong> df_tweets - Warning: </strong>
    <ul>
        <li> Make note that img_url is never null, but has empty strings </li>
    </ul>
</div>

In [21]:
df_tweets.tweet_id.duplicated().sum()

0

In [22]:
df_tweets.img_uri.duplicated().sum()

573

In [23]:
df_tweets[df_tweets.img_uri == ''].img_uri.count()

515

#### This is normal, simply these tweets didn't have any media

In [24]:
df_twitter_archive_enhanced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

<div class="alert alert-block alert-warning">
<strong> df_twitter_archive_enhaned - Incorrect data types: </strong>
    <ul>
        <li> timestamp should be of type datetime </li>
        <li> retweeted_status_timestamp should be of type datetime </li>
        <li> doggo, floofer, pupper and puppo should be a categorial type </li>
    </ul>
</div>

In [25]:
df_twitter_archive_enhanced.sample(10)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2280,667393430834667520,NaN,NaN,2015-11-19 17:26:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Fwed. He is a Canadian Asian Taylormade. Was having a blast until pink spiky football attacked. 8/10 https://t.co/A37eGLz5WS,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667393430834667520/photo/1,8,10,Fwed,None,None,None,None
775,776201521193218049,NaN,NaN,2016-09-14 23:30:38 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is O'Malley. That is how he sleeps. Doesn't care what you think about it. 10/10 comfy af https://t.co/Pq150LeRaC,NaN,NaN,NaN,https://twitter.com/dog_rates/status/776201521193218049/photo/1,10,10,O,None,None,None,None
596,798697898615730177,NaN,NaN,2016-11-16 01:23:12 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Stubert. He just arrived. 10/10 https://t.co/HVGs5aAKAn,7.128090e+17,4.196984e+09,2016-03-24 01:11:29 +0000,"https://twitter.com/dog_rates/status/712809025985978368/photo/1,https://twitter.com/dog_rates/status/712809025985978368/photo/1",10,10,Stubert,None,None,None,None
1053,742465774154047488,NaN,NaN,2016-06-13 21:16:49 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Was just informed about this hero pupper and others like her. Another 14/10, would be an absolute honor to pet https://t.co/hBTzPmj36Z",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/742465774154047488/photo/1,https://twitter.com/dog_rates/status/742465774154047488/photo/1",14,10,None,None,None,pupper,None
517,810896069567610880,NaN,NaN,2016-12-19 17:14:23 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Hunter. He just found out he needs braces. Requesting an orthodogtist stat. 11/10 you're fine Hunter, everything's fine https://t.co/zW1o0W4AYV",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/810896069567610880/photo/1,https://twitter.com/dog_rates/status/810896069567610880/photo/1,https://twitter.com/dog_rates/status/810896069567610880/photo/1",11,10,Hunter,None,None,None,None
1916,674307341513269249,NaN,NaN,2015-12-08 19:19:32 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine - Make a Scene</a>",This is life-changing. 12/10 https://t.co/SroTpI6psB,NaN,NaN,NaN,https://vine.co/v/i7nWzrenw5h,12,10,life,None,None,None,None
707,785515384317313025,NaN,NaN,2016-10-10 16:20:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Today, 10/10, should be National Dog Rates Day",NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
817,770772759874076672,NaN,NaN,2016-08-30 23:58:40 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Sebastian. He's super h*ckin fluffy. That's really all you need to know. 11/10 would snug intensely https://t.co/lqr0NdtwQo,NaN,NaN,NaN,https://twitter.com/dog_rates/status/770772759874076672/photo/1,11,10,Sebastian,None,None,None,None
804,772117678702071809,NaN,NaN,2016-09-03 17:02:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Jack. He's a Clemson pup. Appears to be rather h*ckin pettable. Almost makes me want to root for Clemson. 12/10 https://t.co/GHOfbTVQti,NaN,NaN,NaN,https://twitter.com/dog_rates/status/772117678702071809/photo/1,12,10,Jack,None,None,None,None
1810,676821958043033607,NaN,NaN,2015-12-15 17:51:44 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Finally some constructive political change in this country. 11/10 https://t.co/mvQaETHVSb,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/676821958043033607/photo/1,https://twitter.com/dog_rates/status/676821958043033607/photo/1",11,10,None,None,None,None,None

In [26]:
df_twitter_archive_enhanced[df_twitter_archive_enhanced.in_reply_to_status_id.isnull() == False].sample(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
967,750381685133418496,7.501805e+17,4.717297e+09,2016-07-05 17:31:49 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",13/10 such a good doggo\n@spaghemily,NaN,NaN,NaN,NaN,13,10,None,doggo,None,None,None
30,886267009285017600,8.862664e+17,2.281182e+09,2017-07-15 16:51:35 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@NonWhiteHat @MayhewMayhem omg hello tanner you are a scary good boy 12/10 would pet with extreme caution,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
1905,674606911342424069,6.744689e+17,4.196984e+09,2015-12-09 15:09:55 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",The 13/10 also takes into account this impeccable yard. Louis is great but the future dad in me can't ignore that luscious green grass,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None

In [27]:
df_twitter_archive_enhanced.iloc[1852]['in_reply_to_status_id']

6.754971033223864e+17

In [28]:
df_twitter_archive_enhanced.in_reply_to_user_id.nunique()

31

In [29]:
df_twitter_archive_enhanced.in_reply_to_user_id.unique()

array([           nan, 2.28118160e+09, 4.73844300e+07, 3.10544075e+09,
       1.64877600e+07, 7.75962000e+07, 4.19698384e+09, 1.80670967e+08,
       2.79280991e+08, 1.94351775e+08, 1.36157220e+07, 2.19550580e+07,
       8.40547864e+17, 2.89413118e+09, 2.62595760e+07, 3.05820820e+07,
       2.06837240e+07, 1.58285381e+09, 1.13211856e+08, 1.18563420e+07,
       2.91859009e+08, 2.91663050e+07, 7.30505014e+17, 1.58464070e+07,
       4.71729748e+09, 3.58972768e+08, 2.31910820e+09, 2.87854860e+07,
       1.19898851e+09, 4.67036706e+08, 1.63746780e+07, 2.14356580e+07])

In [30]:
df_twitter_archive_enhanced[df_twitter_archive_enhanced['name'] == 'None']

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a majestic great white breaching off South Africa's coast. Absolutely h*ckin breathtaking. 13/10 (IG: tucker_marlo) #BarkWeek https://t.co/kQ04fDDRmh,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950875897856/photo/1,13,10,None,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",When you watch your owner call another dog a good boy but then they turn back to you and say you're a great boy. 13/10 https://t.co/v0nONBcwxq,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/890729181411237888/photo/1,https://twitter.com/dog_rates/status/890729181411237888/photo/1",13,10,None,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here's a puppo that seems to be on the fence about something haha no but seriously someone help her. 13/10 https://t.co/BxvuXk0UCm,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388333682689/photo/1,13,10,None,None,None,None,puppo
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",You may not have known you needed to see this today. 13/10 please enjoy (IG: emmylouroo) https://t.co/WZqNqygEyV,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217045368832/video/1,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This... is a Jubilant Antarctic House Bear. We only rate dogs. Please only send dogs. Thank you... 12/10 would suffocate in floof https://t.co/4Ad1jzJSdp,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392804085760/photo/1,12,10,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2342,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a well-established sunblockerspaniel. Lost his other flip-flop. 6/10 not very waterproof https://t.co/3RU6x0vHB7,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916733198337/photo/1,6,10,None,None,None,None,None
2343,666073100786774016,NaN,NaN,2015-11-16 01:59:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Let's hope this flight isn't Malaysian (lol). What a dog! Almost completely camouflaged. 10/10 I trust this pilot https://t.co/Yk6GHE9tOY,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666073100786774016/photo/1,10,10,None,None,None,None,None
2344,666071193221509120,NaN,NaN,2015-11-16 01:52:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a northern speckled Rhododendron. Much sass. Gives 0 fucks. Good tongue. 9/10 would caress sensually https://t.co/ZoL8kq2XFx,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666071193221509120/photo/1,9,10,None,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a 1949 1st generation vulpix. Enjoys sweat tea and Fox News. Cannot be phased. 5/10 https://t.co/4B7cOc1EDq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248165822465/photo/1,5,10,None,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888022790149/photo/1,8,10,None,None,None,None,None

In [31]:
df_twitter_archive_enhanced[['doggo', 'pupper', 'puppo', 'floofer']].sample(20)

     doggo  pupper puppo floofer
1940  None    None  None    None
1500  None    None  None    None
539   None    None  None    None
1719  None    None  None    None
328   None    None  None    None
2231  None    None  None    None
819   None    None  None    None
1260  None    None  None    None
623   None    None  None    None
1437  None    None  None    None
897   None    None  None    None
1292  None    None  None    None
1464  None  pupper  None    None
2114  None    None  None    None
1790  None    None  None    None
1795  None    None  None    None
454   None    None  None    None
381   None    None  None    None
1483  None  pupper  None    None
102   None    None  None    None

#### It appears some dogs don't have any category

In [32]:
doggo_mask = (df_twitter_archive_enhanced['doggo'] == 'None')
pupper_mask = (df_twitter_archive_enhanced['pupper'] == 'None')
puppo_mask = (df_twitter_archive_enhanced['puppo'] == 'None')
floofer_mask = (df_twitter_archive_enhanced['floofer'] == 'None')

In [33]:
df_twitter_archive_enhanced[doggo_mask & pupper_mask & puppo_mask & floofer_mask]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a 1949 1st generation vulpix. Enjoys sweat tea and Fox News. Cannot be phased. 5/10 https://t.co/4B7cOc1EDq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248165822465/photo/1,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226329800704/photo/1,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412701032449/photo/1,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285002620928/photo/1,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888022790149/photo/1,8,10,None,None,None,None,None

#### Actually, most dogs (1,976 out of 2,356) don't have any category.

In [34]:
df_twitter_archive_enhanced.duplicated().sum()

0

In [35]:
df_twitter_archive_enhanced.tweet_id.duplicated().sum()

0

<div class="alert alert-block alert-warning">
    
<strong> df_twitter_archive_enhanced - Incorrect format: </strong>
    <ul>
        <li> Information missing for dog categories </li>
    </ul> 
   
<strong> df_twitter_archive_enhanced - Unusable columns: </strong>
    <ul>
        <li> in_reply_to_status_id was inserted incorrectly in the csv file, it was saved with exponential notation, therefore we can't get the exact id value. This column should be dropped. </li>
        <li> in_reply_to_user_id is only used in 78 out of 2,356 records, it is not significant enough to add value to our analysis. This column should be dropped. </li>
        <li> retweeted_status_id is used less than 200 times and we cannot fill other columns with this value. Moreover, we are not interesed in retweets information. This column should be dropped. </li>
        <li> retweeted_status_user_id is used less than 200 times and we cannot fill other columns with this value. Moreover, we are not interesed in retweets information. This column should be dropped. </li>
        <li> retweeted_status_timestamp is used less than 200 times and we cannot fill other columns with this value. Moreover, we are not interesed in retweets information. This column should be dropped. </li>
    </ul>
    
<strong> df_twitter_archive_enhanced - Incorrect format: </strong>
    <ul>
        <li> source column should only have the URI inside the anchor tag </li>
    </ul>
</div>

In [36]:
df_image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [37]:
df_image_predictions.sample(10)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
208,669970042633789440,https://pbs.twimg.com/media/CUw2MV4XIAAHLO_.jpg,1,miniature_pinscher,0.734744,True,Rottweiler,0.131066,True,Doberman,0.081509,True
1499,783821107061198850,https://pbs.twimg.com/media/CuCxIzyWEAQTnQA.jpg,1,Lakeland_terrier,0.265659,True,golden_retriever,0.196414,True,standard_poodle,0.133534,True
1652,809808892968534016,https://pbs.twimg.com/media/CwS4aqZXUAAe3IO.jpg,1,Labrador_retriever,0.861651,True,golden_retriever,0.044462,True,Staffordshire_bullterrier,0.016497,True
1974,869772420881756160,https://pbs.twimg.com/media/DBINZcxXgAQ-R6P.jpg,1,Pembroke,0.980148,True,Cardigan,0.019271,True,malamute,0.000136,True
2004,877316821321428993,https://pbs.twimg.com/media/DCza_vtXkAQXGpC.jpg,1,Saluki,0.509967,True,Italian_greyhound,0.090497,True,golden_retriever,0.079406,True
667,682962037429899265,https://pbs.twimg.com/media/CXpeVzQW8AApKYb.jpg,1,dingo,0.278600,False,Chihuahua,0.155207,True,loupe,0.153598,False
284,671141549288370177,https://pbs.twimg.com/media/CVBfrU9WUAApDeV.jpg,1,guinea_pig,0.387728,False,wood_rabbit,0.171681,False,borzoi,0.075358,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
1270,749981277374128128,https://pbs.twimg.com/media/CmgBZ7kWcAAlzFD.jpg,1,bow_tie,0.533941,False,sunglasses,0.080822,False,sunglass,0.050776,False
1780,828650029636317184,https://pbs.twimg.com/media/C3_0yhCWEAETXj2.jpg,1,golden_retriever,0.649209,True,Chesapeake_Bay_retriever,0.198560,True,vizsla,0.056200,True

<div class="alert alert-block alert-warning">
<strong> Structure </strong>
    <ul>
        <li> In my opinion the twitter_archive_enhanced (from Udacity), tweet information (from Twitter API) and tweet image predictions should be merged by the tweet_id.</li>
    </ul>
</div>

# Cleaning

## Quality (Previous info combined)



### df_tweets
<div class="alert alert-block alert-info">
<strong> Incorrect data types: </strong>
    <ul>
        <li> favorite count should be int </li>
        <li> retweet_count should be int </li>
        <li> tweet_id should be int </li>
    </ul>

<strong>Warning: </strong>
    <ul>
        <li> Make note that img_url is never null, but has empty strings </li>
    </ul>
</div>

### df_twitter_archive_enhanced

<div class="alert alert-block alert-info">
<strong> Incorrect data types: </strong>
    <ul>
        <li> timestamp should be of type datetime </li>
        <li> retweeted_status_timestamp should be of type datetime </li>
    </ul>
    
<strong>Unusable columns: </strong>
    <ul>
        <li> in_reply_to_status_id was inserted incorrectly in the csv file, it was saved with exponential notation, therefore we can't get the exact id value. This column should be dropped. </li>
        <li> in_reply_to_user_id is only used in 78 out of 2,356 records, it is not significant enough to add value to our analysis. This column should be dropped. </li>
        <li> retweeted_status_id is used less than 200 times and we cannot fill other columns with this value. Moreover, we are not interesed in retweets information. This column should be dropped. </li>
        <li> retweeted_status_user_id is used less than 200 times and we cannot fill other columns with this value. Moreover, we are not interesed in retweets information. This column should be dropped. </li>
        <li> retweeted_status_timestamp is used less than 200 times and we cannot fill other columns with this value. Moreover, we are not interesed in retweets information. This column should be dropped. </li>
    </ul>
    
<strong> df_twitter_archive_enhaned - Incorrect format: </strong>
    <ul>
        <li> source column should only have the string inside the anchor tag </li>
    </ul>

</div>

## Tidiness (Previous info combined)

### df_twitter_archive_enhaned
<div class="alert alert-block alert-info">
<strong> Structure </strong>
    <ul>
        <li> doggo, floofer, pupper and puppo should be a categorial type </li>
        <li> We must create a new column for dogs that are not categorized with the value '-' before we create the categorical variables</li>
    </ul>
</div>


### df_tweets and df_twitter_archive_enhanced
<div class="alert alert-block alert-info">
<strong> Structure </strong>
    <ul>
        <li> twitter_archive_enhanced (from Udacity), tweet information (from Twitter API) and tweet image predictions should be merged by the tweet_id. </li>
    </ul>
</div>

# Cleaning - Quality

#### `df_tweets`

- update favorite_count to int using astype
- update retweet_count count to int using astype
- update tweet_id  to int using astype

In [137]:
df_tweets_backup = df_tweets

In [39]:
df_tweets.favorite_count = df_tweets.favorite_count.astype(int)
df_tweets.retweet_count = df_tweets.retweet_count.astype(int)
df_tweets.tweet_id = df_tweets.tweet_id.astype(int)

In [40]:
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   favorite_count  2331 non-null   int64
 1   img_uri         2331 non-null   object
 2   retweet_count   2331 non-null   int64
 3   tweet_id        2331 non-null   int64
dtypes: int64(3), object(1)
memory usage: 73.0+ KB

#### `df_twitter_archive_enhanced`

- Update retweeted_status_id to int using astype
- Update timestamp to datetime using pandas to_datetime function
- Update retweeted_status_timestamp using pandas to_datetime function
- Drop column in_reply_to_status_id
- Drop column in_reply_to_user_id
- Drop column retweeted_status_user_id
- Drop column retweeted_status_timestamp
- Use regular expression to extract the string from the 'source' column anchor tag and update the cell

In [138]:
df_twitter_archive_enhanced_backup = df_twitter_archive_enhanced

In [41]:
df_twitter_archive_enhanced.timestamp = pd.to_datetime(df_twitter_archive_enhanced.timestamp)
df_twitter_archive_enhanced.retweeted_status_timestamp = pd.to_datetime(df_twitter_archive_enhanced.retweeted_status_timestamp)

In [42]:
df_twitter_archive_enhanced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   datetime64[ns, UTC]
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    datetime64[ns, UTC]
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: datetime64[ns, UTC](2), float64(4), int64(3), object(8)
memory usage: 313.0+ KB

In [43]:
df_twitter_archive_enhanced.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1415,698703483621523456,NaN,NaN,2016-02-14 03:01:06+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Rusty. He has no respect for POULTRY products. Unbelievable af. 7/10 would still pet https://t.co/hEH19t1eFp,NaN,NaN,NaT,https://twitter.com/dog_rates/status/698703483621523456/photo/1,7,10,Rusty,None,None,None,None
1188,718454725339934721,NaN,NaN,2016-04-08 15:05:29+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This pic is old but I hadn't seen it until today and had to share. Creative af. 13/10 very good boy, would pet well https://t.co/4kD16wMA1Z",NaN,NaN,NaT,https://twitter.com/dog_rates/status/718454725339934721/photo/1,13,10,None,None,None,None,None
982,749403093750648834,NaN,NaN,2016-07-03 00:43:15+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Duuun dun... duuun dun... dunn dun. dunn dun. dun dun dun dun dun dun dun dun dun dun dun dun dun dun dun. 10/10 https://t.co/9qdJ2Q1Cwx,NaN,NaN,NaT,https://twitter.com/dog_rates/status/749403093750648834/photo/1,10,10,None,None,None,None,None
1958,673580926094458881,NaN,NaN,2015-12-06 19:13:01+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",When you ask your professor about extra credit on the last day of class. 8/10 https://t.co/H6rqZyE4NP,NaN,NaN,NaT,https://twitter.com/dog_rates/status/673580926094458881/photo/1,8,10,None,None,None,None,None
1425,697943111201378304,NaN,NaN,2016-02-12 00:39:39+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Cassie. She goes door to door trying to find the owner of this baguette. No luck so far. 10/10 https://t.co/e8bj97CisO,NaN,NaN,NaT,https://twitter.com/dog_rates/status/697943111201378304/photo/1,10,10,Cassie,None,None,None,None

In [44]:
df_twitter_archive_enhanced.drop(columns=['in_reply_to_status_id','in_reply_to_user_id','retweeted_status_user_id','retweeted_status_timestamp'], inplace=True)

In [45]:
df_twitter_archive_enhanced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tweet_id             2356 non-null   int64
 1   timestamp            2356 non-null   datetime64[ns, UTC]
 2   source               2356 non-null   object
 3   text                 2356 non-null   object
 4   retweeted_status_id  181 non-null    float64
 5   expanded_urls        2297 non-null   object
 6   rating_numerator     2356 non-null   int64
 7   rating_denominator   2356 non-null   int64
 8   name                 2356 non-null   object
 9   doggo                2356 non-null   object
 10  floofer              2356 non-null   object
 11  pupper               2356 non-null   object
 12  puppo                2356 non-null   object
dtypes: datetime64[ns, UTC](1), float64(1), int64(3), object(8)
memory usage: 239.4+ KB

In [46]:
df_twitter_archive_enhanced.source = df_twitter_archive_enhanced.source.str.extract(r'>(.+)<')

In [47]:
df_twitter_archive_enhanced.source.sample(10)

377      Twitter for iPhone
29       Twitter for iPhone
76       Twitter for iPhone
286      Twitter for iPhone
2141     Twitter for iPhone
571      Twitter for iPhone
1194    Vine - Make a Scene
587      Twitter for iPhone
560      Twitter for iPhone
992      Twitter for iPhone
Name: source, dtype: object

In [48]:
df_twitter_archive_enhanced.sample(5)

,tweet_id,timestamp,source,text,retweeted_status_id,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
930,754449512966619136,2016-07-16 22:55:55+00:00,Twitter for iPhone,This is Dex. He can see into your past and future. Mesmerizing af 11/10 https://t.co/0dYI0Cpdge,NaN,https://twitter.com/dog_rates/status/754449512966619136/photo/1,11,10,Dex,None,None,None,None
1737,679530280114372609,2015-12-23 05:13:38+00:00,Twitter for iPhone,Guys this really needs to stop. We've been over this way too many times. This is a giraffe. We only rate dogs.. 7/10 https://t.co/yavgkHYPOC,NaN,https://twitter.com/dog_rates/status/679530280114372609/photo/1,7,10,a,None,None,None,None
1123,730427201120833536,2016-05-11 15:59:50+00:00,Twitter for iPhone,This is Crystal. She's flawless. Really wants to be a frat bro. 11/10 who does she even know here? https://t.co/WyqNFvEulG,NaN,https://twitter.com/dog_rates/status/730427201120833536/photo/1,11,10,Crystal,None,None,None,None
156,861383897657036800,2017-05-08 00:54:59+00:00,Twitter for iPhone,This is Hobbes. He's never seen bubbles before. 13/10 deep breaths buddy https://t.co/QFRlbZw4Z1,NaN,https://twitter.com/dog_rates/status/861383897657036800/photo/1,13,10,Hobbes,None,None,None,None
1995,672594978741354496,2015-12-04 01:55:13+00:00,Twitter for iPhone,Meet Scott. Just trying to catch his train to work. Doesn't need everybody staring. 9/10 ignore the haters pupper https://t.co/jyXbZ35MYz,NaN,https://twitter.com/dog_rates/status/672594978741354496/photo/1,9,10,Scott,None,None,pupper,None

# Cleaning - Tidiness


#### `df_twitter_archive_enhanced`
- include 'unknown' category for the 1,976 dogs that are not categorized
- doggo, pupper and puppo should be a categorial type 


#### `df_tweets and df_twitter_archive_enhanced`
-  twitter_archive_enhanced (from Udacity), tweet information (from Twitter API) and tweet image predictions should be merged by the tweet_id.

In [49]:
df_twitter_archive_enhanced.head(1)

,tweet_id,timestamp,source,text,retweeted_status_id,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56+00:00,Twitter for iPhone,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None

In [50]:
df_twitter_archive_enhanced['unknown'] = ''
df_twitter_archive_enhanced.head(1)

,tweet_id,timestamp,source,text,retweeted_status_id,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,unknown
0,892420643555336193,2017-08-01 16:23:56+00:00,Twitter for iPhone,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None,

In [51]:
doggo_mask = (df_twitter_archive_enhanced['doggo'] == 'None')
pupper_mask = (df_twitter_archive_enhanced['pupper'] == 'None')
puppo_mask = (df_twitter_archive_enhanced['puppo'] == 'None')
floofer_mask = (df_twitter_archive_enhanced['floofer'] == 'None')
all_masks = doggo_mask & pupper_mask & puppo_mask & floofer_mask
df_twitter_archive_enhanced.loc[all_masks, ('unknown')] = 'unknown'
df_twitter_archive_enhanced.head(5)

,tweet_id,timestamp,source,text,retweeted_status_id,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,unknown
0,892420643555336193,2017-08-01 16:23:56+00:00,Twitter for iPhone,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None,unknown
1,892177421306343426,2017-08-01 00:17:27+00:00,Twitter for iPhone,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None,unknown
2,891815181378084864,2017-07-31 00:18:03+00:00,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None,unknown
3,891689557279858688,2017-07-30 15:58:51+00:00,Twitter for iPhone,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None,unknown
4,891327558926688256,2017-07-29 16:00:24+00:00,Twitter for iPhone,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None,unknown

In [52]:
df_twitter_archive_enhanced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tweet_id             2356 non-null   int64
 1   timestamp            2356 non-null   datetime64[ns, UTC]
 2   source               2356 non-null   object
 3   text                 2356 non-null   object
 4   retweeted_status_id  181 non-null    float64
 5   expanded_urls        2297 non-null   object
 6   rating_numerator     2356 non-null   int64
 7   rating_denominator   2356 non-null   int64
 8   name                 2356 non-null   object
 9   doggo                2356 non-null   object
 10  floofer              2356 non-null   object
 11  pupper               2356 non-null   object
 12  puppo                2356 non-null   object
 13  unknown              2356 non-null   object
dtypes: datetime64[ns, UTC](1), float64(1), int64(3), object(9)
memory usage: 257.8+ KB

In [53]:
df_twitter_archive_enhanced = pd.melt(df_twitter_archive_enhanced, id_vars=['tweet_id', 'timestamp', 'source','text','retweeted_status_id','expanded_urls','rating_numerator','rating_denominator','name'], var_name='category', value_name='dog_category')

In [54]:
df_twitter_archive_enhanced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11780 entries, 0 to 11779
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tweet_id             11780 non-null  int64
 1   timestamp            11780 non-null  datetime64[ns, UTC]
 2   source               11780 non-null  object
 3   text                 11780 non-null  object
 4   retweeted_status_id  905 non-null    float64
 5   expanded_urls        11485 non-null  object
 6   rating_numerator     11780 non-null  int64
 7   rating_denominator   11780 non-null  int64
 8   name                 11780 non-null  object
 9   category             11780 non-null  object
 10  dog_category         11780 non-null  object
dtypes: datetime64[ns, UTC](1), float64(1), int64(3), object(6)
memory usage: 1012.5+ KB

In [55]:
df_twitter_archive_enhanced = df_twitter_archive_enhanced[df_twitter_archive_enhanced.dog_category != '']
df_twitter_archive_enhanced = df_twitter_archive_enhanced[df_twitter_archive_enhanced.dog_category != 'None']
df_twitter_archive_enhanced.drop(columns=['category'], inplace = True)
df_twitter_archive_enhanced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2370 entries, 9 to 11779
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tweet_id             2370 non-null   int64
 1   timestamp            2370 non-null   datetime64[ns, UTC]
 2   source               2370 non-null   object
 3   text                 2370 non-null   object
 4   retweeted_status_id  183 non-null    float64
 5   expanded_urls        2311 non-null   object
 6   rating_numerator     2370 non-null   int64
 7   rating_denominator   2370 non-null   int64
 8   name                 2370 non-null   object
 9   dog_category         2370 non-null   object
dtypes: datetime64[ns, UTC](1), float64(1), int64(3), object(5)
memory usage: 203.7+ KB

#### Apparently there were some columns that had multiple values of dog categories, now I'll have to take care of them individually

In [56]:
df_twitter_archive_enhanced.tweet_id.duplicated().sum()

14

In [57]:
df_twitter_archive_enhanced[df_twitter_archive_enhanced.tweet_id.duplicated()]

,tweet_id,timestamp,source,text,retweeted_status_id,expanded_urls,rating_numerator,rating_denominator,name,dog_category
2556,854010172552949760,2017-04-17 16:34:26+00:00,Twitter for iPhone,"At first I thought this was a shy doggo, but it's actually a Rare Canadian Floofer Owl. Amateurs would confuse the two. 11/10 only send dogs https://t.co/TXdT3tmuYk",NaN,"https://twitter.com/dog_rates/status/854010172552949760/photo/1,https://twitter.com/dog_rates/status/854010172552949760/photo/1",11,10,None,floofer
5172,817777686764523521,2017-01-07 16:59:28+00:00,Twitter for iPhone,"This is Dido. She's playing the lead role in ""Pupper Stops to Catch Snow Before Resuming Shadow Box with Dried Apple."" 13/10 (IG: didodoggo) https://t.co/m7isZrOBX7",NaN,https://twitter.com/dog_rates/status/817777686764523521/video/1,13,10,Dido,pupper
5243,808106460588765185,2016-12-12 00:29:28+00:00,Twitter for iPhone,Here we have Burke (pupper) and Dexter (doggo). Pupper wants to be exactly like doggo. Both 12/10 would pet at same time https://t.co/ANBpEYHaho,NaN,https://twitter.com/dog_rates/status/808106460588765185/photo/1,12,10,None,pupper
5277,802265048156610565,2016-11-25 21:37:47+00:00,Twitter for iPhone,"Like doggo, like pupper version 2. Both 11/10 https://t.co/9IxWAXFqze",NaN,https://twitter.com/dog_rates/status/802265048156610565/photo/1,11,10,None,pupper
5287,801115127852503040,2016-11-22 17:28:25+00:00,Twitter for iPhone,This is Bones. He's being haunted by another doggo of roughly the same size. 12/10 deep breaths pupper everything's fine https://t.co/55Dqe0SJNj,NaN,"https://twitter.com/dog_rates/status/801115127852503040/photo/1,https://twitter.com/dog_rates/status/801115127852503040/photo/1",12,10,Bones,pupper
5417,785639753186217984,2016-10-11 00:34:48+00:00,Twitter for iPhone,This is Pinot. He's a sophisticated doggo. You can tell by the hat. Also pointier than your average pupper. Still 10/10 would pet cautiously https://t.co/f2wmLZTPHd,NaN,"https://twitter.com/dog_rates/status/785639753186217984/photo/1,https://twitter.com/dog_rates/status/785639753186217984/photo/1",10,10,Pinot,pupper
5445,781308096455073793,2016-09-29 01:42:20+00:00,Vine - Make a Scene,"Pupper butt 1, Doggo 0. Both 12/10 https://t.co/WQvcPEpH2u",NaN,https://vine.co/v/5rgu2Law2ut,12,10,None,pupper
5490,775898661951791106,2016-09-14 03:27:11+00:00,Twitter for iPhone,"RT @dog_rates: Like father (doggo), like son (pupper). Both 12/10 https://t.co/pG2inLaOda",7.331095e+17,"https://twitter.com/dog_rates/status/733109485275860992/photo/1,https://twitter.com/dog_rates/status/733109485275860992/photo/1",12,10,None,pupper
5534,770093767776997377,2016-08-29 03:00:36+00:00,Twitter for iPhone,RT @dog_rates: This is just downright precious af. 12/10 for both pupper and doggo https://t.co/o5J479bZUC,7.410673e+17,"https://twitter.com/dog_rates/status/741067306818797568/photo/1,https://twitter.com/dog_rates/status/741067306818797568/photo/1",12,10,just,pupper
5601,759793422261743616,2016-07-31 16:50:42+00:00,Twitter for iPhone,"Meet Maggie &amp; Lila. Maggie is the doggo, Lila is the pupper. They are sisters. Both 12/10 would pet at the same time https://t.co/MYwR4DQKll",NaN,"https://twitter.com/dog_rates/status/759793422261743616/photo/1,https://twitter.com/dog_rates/status/759793422261743616/photo/1",12,10,Maggie,pupper
5668,751583847268179968,2016-07-09 01:08:47+00:00,Twitter for iPhone,Please stop sending it pictures that don't even have a doggo or pupper in them. Churlish af. 5/10 neat couch tho https://t.co/u2c9c7qSg8,NaN,https://twitter.com/dog_rates/status/751583847268179968/photo/1,5,10,None,pupper
5775,741067306818797568,2016-06-10 00:39:48+00:00,Twitter for iPhone,This is just downright precious af. 12/10 for both pupper and doggo https://t.co/o5J479bZUC,NaN,https://twitter.com/dog_rates/status/741067306818797568/photo/1,12,10,just,pupper
5825,733109485275860992,2016-05-19 01:38:16+00:00,Twitter for iPhone,"Like father (doggo), like son (pupper). Both 12/10 https://t.co/pG2inLaOda",NaN,https://twitter.com/dog_rates/status/733109485275860992/photo/1,12,10,None,pupper
7259,855851453814013952,2017-04-22 18:31:02+00:00,Twitter for iPhone,Here's a puppo participating in the #ScienceMarch. Cleverly disguising her own doggo agenda. 13/10 would keep the planet habitable for https://t.co/cMhq16isel,NaN,https://twitter.com/dog_rates/status/855851453814013952/photo/1,13,10,None,puppo

#### based on <a href="https://classroom.udacity.com/nanodegrees/nd002/parts/af503f34-9646-4795-a916-190ebc82cb4a/modules/14d9f5f1-9e7b-4bfb-97f3-bcdbf4a3699c/lessons/a8085857-3e28-4fc7-aeb8-da64ccbc2e20/concepts/28d4643b-3785-4700-bdee-4e5fc9963576">'THE DOGTIONARY'</a> a dog can be:
- Doggo
- Pupper
- Puppo

blep, snoot and floof are traits of the dog. Therefore, let's start by removing those dogs that have 'floofer' as 'dog_category'

In [58]:
df_twitter_archive_enhanced[(df_twitter_archive_enhanced['tweet_id'] == 854010172552949760)]

,tweet_id,timestamp,source,text,retweeted_status_id,expanded_urls,rating_numerator,rating_denominator,name,dog_category
200,854010172552949760,2017-04-17 16:34:26+00:00,Twitter for iPhone,"At first I thought this was a shy doggo, but it's actually a Rare Canadian Floofer Owl. Amateurs would confuse the two. 11/10 only send dogs https://t.co/TXdT3tmuYk",NaN,"https://twitter.com/dog_rates/status/854010172552949760/photo/1,https://twitter.com/dog_rates/status/854010172552949760/photo/1",11,10,None,doggo
2556,854010172552949760,2017-04-17 16:34:26+00:00,Twitter for iPhone,"At first I thought this was a shy doggo, but it's actually a Rare Canadian Floofer Owl. Amateurs would confuse the two. 11/10 only send dogs https://t.co/TXdT3tmuYk",NaN,"https://twitter.com/dog_rates/status/854010172552949760/photo/1,https://twitter.com/dog_rates/status/854010172552949760/photo/1",11,10,None,floofer

In [59]:
df_twitter_archive_enhanced.drop(2556, inplace=True)

#### The remaining 13 are categorized as both valid categories. Due to the small sample size (13) of our entire dataset, I will be simply removing one of the two without much analysis, as the benefit of going one by one would not be significant in our analysis.

In [60]:
df_twitter_archive_enhanced = df_twitter_archive_enhanced[df_twitter_archive_enhanced.tweet_id.duplicated() == False]

In [61]:
df_twitter_archive_enhanced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 9 to 11779
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tweet_id             2356 non-null   int64
 1   timestamp            2356 non-null   datetime64[ns, UTC]
 2   source               2356 non-null   object
 3   text                 2356 non-null   object
 4   retweeted_status_id  181 non-null    float64
 5   expanded_urls        2297 non-null   object
 6   rating_numerator     2356 non-null   int64
 7   rating_denominator   2356 non-null   int64
 8   name                 2356 non-null   object
 9   dog_category         2356 non-null   object
dtypes: datetime64[ns, UTC](1), float64(1), int64(3), object(5)
memory usage: 202.5+ KB

-  twitter_archive_enhanced (from Udacity), tweet information (from Twitter API) and tweet image predictions should be merged by the tweet_id.

In [132]:
df_tweets_complete = df_twitter_archive_enhanced.merge(df_tweets, on='tweet_id', how='left')
df_tweets_complete = df_tweets_complete.merge(df_image_predictions, on='tweet_id', how='left')
df_tweets_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 0 to 2355
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tweet_id             2356 non-null   int64
 1   timestamp            2356 non-null   datetime64[ns, UTC]
 2   source               2356 non-null   object
 3   text                 2356 non-null   object
 4   retweeted_status_id  181 non-null    float64
 5   expanded_urls        2297 non-null   object
 6   rating_numerator     2356 non-null   int64
 7   rating_denominator   2356 non-null   int64
 8   name                 2356 non-null   object
 9   dog_category         2356 non-null   object
 10  favorite_count       2331 non-null   float64
 11  img_uri              2331 non-null   object
 12  retweet_count        2331 non-null   float64
 13  jpg_url              2075 non-null   object
 14  img_num              2075 non-null   float64
 15  p1                   2075 non-null   object
 16  p1_conf              2075 non-null   float64
 17  p1_dog               2075 non-null   object
 18  p2                   2075 non-null   object
 19  p2_conf              2075 non-null   float64
 20  p2_dog               2075 non-null   object
 21  p3                   2075 non-null   object
 22  p3_conf              2075 non-null   float64
 23  p3_dog               2075 non-null   object
dtypes: datetime64[ns, UTC](1), float64(7), int64(3), object(13)
memory usage: 460.2+ KB

In [133]:
df_tweets_complete.sample(2)

,tweet_id,timestamp,source,text,retweeted_status_id,expanded_urls,rating_numerator,rating_denominator,name,dog_category,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
230,699036661657767936,2016-02-15 01:05:02+00:00,Twitter for iPhone,HAPPY V-DAY FROM YOUR FAV PUPPER SQUAD 13/10 for all https://t.co/7u6VnZ1UFe,NaN,https://twitter.com/dog_rates/status/699036661657767936/photo/1,13,10,None,pupper,...,1.0,Chihuahua,0.222943,True,toyshop,0.179938,False,Weimaraner,0.163033,True
513,861288531465048066,2017-05-07 18:36:02+00:00,Twitter for iPhone,HI. MY. NAME. IS. BOOMER. AND. I. WANT. TO. SAY. IT'S. H*CKIN. RIDICULOUS. THAT. DOGS. CAN'T VOTE. ABSOLUTE. CODSWALLUP. THANK. YOU. 13/10 https://t.co/SqKJPwbQ2g,NaN,https://twitter.com/dog_rates/status/861288531465048066/video/1,13,10,None,unknown,...,1.0,syringe,0.144712,False,oxygen_mask,0.106684,False,Bouvier_des_Flandres,0.082610,True

# TODO:

The master dataset is analyzed using pandas or SQL in the Jupyter Notebook and at least three (3) separate insights are produced.

At least one (1) labeled visualization is produced in the Jupyter Notebook using Pythons plotting libraries or in Tableau.

Students must make it clear in their wrangling work that they assessed and cleaned (if necessary) the data upon which the analyses and visualizations are based.

In [136]:
# ax = df_tweets_complete.groupby('dog_category').count()['tweet_id'].plot(kind='barh', legend=False, title='Dog categories count');
# ax.set_ylabel('Dog category');
# ax.set_xlabel('Count');

# Fin

In [135]:
df_tweets_complete.to_csv('twitter_archive_master.csv')